
footer{
  position: relative;
  margin-bottom: 40px;
  background: var(--gray-01);
  border-radius: 40px;

  [src="/Assests/icon/maskGroup-01.png"],
  [src="/Assests/icon/maskGroup-02.png"] {
    width: 200px;
    height: 80px;
    top: 44px;
    position: absolute;
  }
  [src="/Assests/icon/maskGroup-01.png"]{
    left: 0;
  }
  [src="/Assests/icon/maskGroup-02.png"]{
    right: 0;
  }
  @media screen and (min-width: 1200px) {
    [src="/Assests/icon/maskGroup-01.png"],
    [src="/Assests/icon/maskGroup-02.png"] {
      width: 354px;
    }
  }
  @media screen and (max-width: 992px) {
    [src="/Assests/icon/maskGroup-01.png"],
    [src="/Assests/icon/maskGroup-02.png"] {
      display: none;
    }
  }
}
.container-footer-l {
  position: relative;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 32px 0;
  @media screen and (max-width: 992px){
    padding: 12px;
    margin-top: 12px;
  }
}

.container-footer-l .btn-up-l {
  position: absolute;
  right: 50px;
  top: -20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer-content-p-l{
  color: var(--white);
  position: relative;
  display: flex;
  justify-content: center;
}

.footer-content-p-l {
  padding-top: 40px;
}

.footer-content-p-l::before{
  content: 'Contact';
  position: absolute;
  color: var(--brand-01);
  line-height: 48px;
  opacity: 20%;
  font-weight: var(--fw-bold-700);
  font-size: 44px;
  top: 12px;
}


.footer-content-button-l {
  display: flex;
  gap: 24px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    .btn-mail-part-l {
      width: 360px;
    }
  }
  @media screen and (max-width: 450px) {
    .btn-mail-part-l {
      width: 280px;
    }
  }
}

.footer-content-copyright-l {
  color: var(--gray-03);
  padding-top: 32px;
}

@media screen and (max-width: 1199px) {
  .btn-mail-part-l {
    width: 220px;
  }
}


@media screen and (min-width: 1700px) {
  .btn-mail-part-l {
    width: 320px;
  }
}