body {
  margin-top: 50px;
}

.container-footer-l {
  max-width: 100%;
  position: relative;
  background: var(--gray-01);
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  position: relative;
  padding: 32px 0;
}

.container-footer-m {
  width: 400px;
  position: relative;
  background: var(--gray-01);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  position: relative;
  padding: 32px 12px 16px 12px;
}

.container-footer-l .btn-up-l {
  position: absolute;
  right: 50px;
  top: -20px;
}

.footer-svg-slash {
  position: relative;
  top: 14px;
  height: 80px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.footer-content-p-l,
.footer-content-p-m {
  color: var(--white);
  position: relative;
  display: flex;
  justify-content: center;
}

.footer-content-p-l {
  padding-top: 40px;
}

.footer-content-p-m {
  padding-top: 32px;
}

.footer-content-p-l::before,
.footer-content-p-m::before {
  content: 'Contact';
  position: absolute;
  color: var(--brand-01);
  line-height: 48px;
  opacity: 20%;
  font-weight: var(--fw-bold-700);
}

.footer-content-p-l::before {
  font-size: 44px;
  top: 12px;
}

.footer-content-p-m::before {
  font-size: 32px;
  top: 6px;
}

.footer-content-button-l {
  display: flex;
  gap: 24px;
}

.footer-content-button-m {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-content-copyright-l {
  color: var(--gray-03);
  padding-top: 32px;
}

.footer-content-copyright-m {
  color: var(--gray-03);
  padding-top: 22px;
}

.btn-mail-part-m {
  width: 327px;
}

@media screen and (max-width: 992px) {
  .container-footer-l {
    justify-content: center;
  }

  .footer-svg-slash {
    display: none;
  }

  .btn-mail-part-l {
    width: 220px;
  }
}

@media screen and (min-width: 992px) {
  .footer-svg-slash {
    width: 200px;
  }

  .btn-mail-part-l {
    width: 220px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-svg-slash {
    width: 200px;
  }

  .btn-mail-part-l {
    width: 293px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-svg-slash {
    width: 310px;
  }
}

@media screen and (min-width: 1700px) {
  .footer-svg-slash {
    width: 354px;
  }

  .btn-mail-part-l {
    width: 373px;
  }
}