//
// Base styles
//

.accordion-button {
  color: var(--gray-01) !important;
  background-color: #fff;
  font-size: 1.25rem !important;
  @media screen and (max-width: 768px) {
    font-size: 1rem !important;
  }

  &:not(.collapsed) {
    background-color: #fff;
    &::after {
      background-image: url(../Assests/icon/icon-accordion-active.png);
    }
  }
  &::after{
    background-image: url(../Assests/icon/icon-accordion-normal.png);
  }
  /* &:hover{
    &:not(.collapsed) {
      &::after {
        background-image: url(../Assests/icon/icon-accordion-active-hover.png);
      }
    }
  
    &::after {
      background-image: url(../Assests/icon/icon-accordion-normal-hover.png);
    }
  } */
};
