:root{
  /* FONT */
  --ff: 'Noto Sans TC', sans-serif;
  --fw-regular-400: 400;
  --fw-medium-500: 500;
  --fw-bold-700: 700;

  /* COLOR */
  --brand-01: #93FF00;
  --brand-02: #82E200;
  --gray-01: #1E1E1E;
  --gray-02: #888888;
  --gray-03: #BEC2BD;
  --gray-04: #F2F2F2;
  --white: #ffffff;
}
