<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/spaceEye-project-sth/variables.css">
  <link rel="stylesheet" href="/spaceEye-project-sth/utilities.css">
  <link rel="stylesheet" href="./button.css">
  
  <!-- 畫面處理用，不需複製 -->
  <style>
    body {
      background: #bdbdbd;
    }
  </style>
</head>

<body>
  <h2>按鈕</h2>

  <button class="btn btn-light-solid-l">按鈕</button>
  <button class="btn btn-light-trans-l">按鈕</button>
  <button class="btn btn-light-solid-m">按鈕</button>
  <button class="btn btn-light-trans-m">按鈕</button>

  <br>

  <button class="btn btn-dark-solid-l">按鈕</button>
  <button class="btn btn-dark-trans-l">按鈕</button>
  <button class="btn btn-dark-solid-m">按鈕</button>
  <button class="btn btn-dark-trans-m">按鈕</button>

  <hr>

  <h2>歡迎免費諮詢</h2>
  <button class="btn-mail btn-mail-l">
    <!-- icon -->
    <div class="icon-mail-l">
      <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H18C18.55 0 19.0208 0.195833 19.4125 0.5875C19.8042 0.979167 20 1.45 20 2V14C20 14.55 19.8042 15.0208 19.4125 15.4125C19.0208 15.8042 18.55 16 18 16H2ZM10 9L2 4V14H18V4L10 9ZM10 7L18 2H2L10 7ZM2 4V2V14V4Z"
          fill="#1E1E1E" />
      </svg>
    </div>
    <div class="btn-mail-part-l">
      <h5 class="btn-mail-title-l">歡迎免費諮詢</h5>
      <!-- 箭頭 -->
      <svg class="btn-mail-m-svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_2910_7237" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_2910_7237)">
          <path d="M16.175 13H4V11H16.175L10.575 5.4L12 4L20 12L12 20L10.575 18.6L16.175 13Z" fill="white"/>
        </g>
      </svg>
    </div>
  </button>

  <br>

  <button class="btn-mail btn-mail-m">
    <!-- icon -->
    <div class="icon-mail-m">
      <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H18C18.55 0 19.0208 0.195833 19.4125 0.5875C19.8042 0.979167 20 1.45 20 2V14C20 14.55 19.8042 15.0208 19.4125 15.4125C19.0208 15.8042 18.55 16 18 16H2ZM10 9L2 4V14H18V4L10 9ZM10 7L18 2H2L10 7ZM2 4V2V14V4Z"
          fill="#1E1E1E" />
      </svg>
    </div>
    <div class="btn-mail-part-m">
      <h5 class="btn-mail-title-m">歡迎免費諮詢</h5>
      <!-- 箭頭 -->
      <svg class="btn-mail-m-svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_2910_7237" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_2910_7237)">
          <path d="M16.175 13H4V11H16.175L10.575 5.4L12 4L20 12L12 20L10.575 18.6L16.175 13Z" fill="white" />
        </g>
      </svg>
    </div>
  </button>

  <hr>

  <h2>向上箭頭</h2>

  <div class="btn-up btn-up-l">
    <svg width="21" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.175 14.6L11 7.42501L3.825 14.6L0.5 11.3333L11 0.833344L21.5 11.3333L18.175 14.6Z" fill="#1E1E1E" />
    </svg>
  </div>

  <div class="btn-up btn-up-m">
    <svg width="16.5" height="12" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.175 14.6L11 7.42501L3.825 14.6L0.5 11.3333L11 0.833344L21.5 11.3333L18.175 14.6Z" fill="#1E1E1E" />
    </svg>
  </div>




  <!-- js -->
  <script src="/spaceEye-project-sth/components/buttons/button.js"></script>
</body>

</html>