$display-none: none;

.btn-bg-move {
    transition: margin-left 0.3s;
    margin-left: 0;
}

.content-to-hide-owner {
    display: block;
}

.content-to-hide-save,
.content-to-hide-place-history,
.content-to-hide-trading-history,
.content-to-hide-appointment-trading-history,
.content-to-hide-appointment,
.content-to-hide-storage {
    display: $display-none;
}

.Password-warn {
    text-align: end;
    font-size: 12px;
    color: red;
    display: none;
}

#btn1,#btn2,#btn3,#btn4,#btn5,#btn6{
    color: rgb(2, 149, 0);

    &:hover {
        color: #93FF00;
        border-radius: 5px;
    }
}