$display-none: none;

.findSpace-main-container {
  margin-top: 40px;
  margin-bottom: 140px;

  @media screen and (max-width: 768px) {
    margin-top: 30px;
    margin-bottom: 80px;
  }

  // 停車環境
  .parkingCategory-container {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;

    .button-group {
      background: rgb(31, 31, 31, 0.8);
      border-radius: 18px;
      gap: 10px;

      button {
        z-index: 2;
        text-wrap: nowrap;
      }
    }
  }
}

// 停車種類按鈕切換用 
.color-white {
  color: #fff !important;
}

.card {
  background: #fff;
  border-radius: 12px;
}

.modal-header,
.modal-body {
  padding: 28px;
}

.modal-footer {
  padding: 16px 28px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#btnX {
  height: 28px;
  width: 26px;
}

.bi-suit-heart-fill {
  color: #b0b0b0;
}

.bi-suit-heart-broke {
  color: #ff0000;
}


.content-to-hide-search {
  display: block;
}

.content-to-hide-showPark {
  display: $display-none;
}

.btn-bg-move,
.btn-bg-move1,
.btn-bg-move2,
.btn-bg-move3,
.btn-bg-move1-Rwd,
.btn-bg-move2-Rwd,
.btn-bg-move3-Rwd {
  transition: margin-left 0.3s;
  margin-left: 0;
}

.xBtn {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.xBtn2 {
  transform: rotate(45deg);
  transition: transform 1s ease;
}

.searchBg {
  opacity: 0;
  transition: opacity 1s ease;
}

.searchBg.show {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 1000; //2100
  justify-content: center;
}

.mobile-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px;

  .mobile-search-container-main {
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 28px;
    border-radius: 24px;
    padding: 30px 12px;

    .interface-main-select {
      gap: 12px;
      padding-top: 8px;
    }

    .interface-main-type,
    .interface-main-available {
      gap: 8px;
    }
  }
}

// 確認送出按鈕動畫
.jumping-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  animation: jump 1s infinite alternate ease-out;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.2);

  &:focus {
    box-shadow: 2px 7px 10px rgba(0, 0, 0, .2);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

#map {
  width: 100%;
}


.interface {
  padding-left: 18px;

  .button-search-container {
    width: fit-content;
    padding: 28px 0;
  }

  .interface-main {
    border-radius: 18px;
    overflow-y: scroll;
    background: #fff;
    box-shadow: 8px 8px 12px rgb(31, 31, 31, 0.1);
    height: 504px;
    gap: 12px;
    padding: 18px 0;

    .content-to-hide-search {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .interface-main-select,
      .interface-main-type,
      .interface-main-available {
        gap: 12px;
      }

      .interface-main-submitBtn {
        margin-top: 28px;
      }
    }

    .content-to-hide-showPark {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 12px;

      .showPark-btns {
        margin-top: 12px;
      }
    }

  }

}

.searchBtn {
  z-index: 1000;
  right: 150px;
  top: 180px;

  @media screen and (max-width: 768px) {
    right: 130px;
    top: 150px;
  }

  @media screen and (max-width: 576px) {
    right: 30px;
    top: 130px;
  }
}

// 調整手機版內容寬度
.leaflet-popup-content {
  width: 200px;
}