$display-none: none;

.bi-suit-heart-fill{
    color: #b0b0b0;
}
.bi-suit-heart-broke {
    color: #ff0000;
}


.content-to-hide-search {
    display: block;
}

.content-to-hide-showPark{
    display: $display-none;
}

.btn-bg-move,
.btn-bg-move1,
.btn-bg-move2,
.btn-bg-move3,
.btn-bg-move1-Rwd,
.btn-bg-move2-Rwd,
.btn-bg-move3-Rwd {
    transition: margin-left 0.3s;
    margin-left: 0;
}

.color-tran-gray {
    background: rgba(30, 30, 30, 0.4);
}

.xBtn {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.xBtn2 {
    transform: rotate(45deg);
    transition: transform 1s ease;
}

.searchBg {
    opacity: 0;
    transition: opacity 1s ease;
}

.searchBg.show 
{
    opacity: 1;
}
#map { width: 100%; height: 620px; }