body,html{
  //background: var(--gray-04);
}
.navbar{
  z-index: 1000;
}


.banner{
  padding: 96px 0 140px 0;
  h1{
    margin-bottom: 40px;
    font-size: 60px;
  }
  /* @media screen and (min-width: 992px) {
    h1 {
      font-size: 60px;
    }
  } */
  .banner-img-mobile {
    display: none;
  }
  .banner-img{
    position: absolute;
    img{
      position: relative;
      top: -180px;
      right: 0;
      width: 100%;
      height: 100%;
      border-top-left-radius: 300px;
      border-bottom-left-radius: 300px;
    }
  }
  @media screen and (max-width: 992px) {
    padding: 96px 0 100px 0;
  }
  @media screen and (max-width: 768px) {
    padding: 0 0 32px 0;
    text-align: center;
    .banner-img {
      img{
        display: none;
      }
    }
    .banner-img-mobile{
      display: block;
      img{
        width: 100%;
        border-top-left-radius: 300px;
        border-bottom-left-radius: 300px;
        padding: 16px 0 24px 12px;
      }
    }
    .search-bar-container{
      /* justify-content: center; */
      width: 90%;
      .search-bar-l{
        width: 100%;
      }
    }
  }
  
  
}