.payment-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .payment-method-container,
  .payment-content-container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
  }

  // 付款方式
  .payment-method-container {
    display: flex;
    flex-direction: column;

    .payment-title {
      padding-bottom: 18px;
      margin-bottom: 0;
    }

    .payment-method-group {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 18px;

      @media screen and (max-width: 576px) {
        flex-direction: column;
      }

      .btn-light {
        border: 1px solid #888;
      }
    }
  }

  // 付款方式頁面
  .payment-content-container {

    // 標題
    .payment-creditCard-info-title,
    .payment-creditCard-announcement-title {
      font-weight: bold;
    }
  }

  // 信用卡
  .payment-creditCard-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    // 信用卡icon
    .payment-creditCards-img {
      display: flex;
      gap: 14px;

      img {
        height: 26px;
      }
    }

    // 信用卡圖示
    .payment-creditCard-pic-container {
      width: 100%;
      max-width: 400px;
      max-height: 320px;
      height: 54vw;

      .creditCard {
        width: 100%;
        max-width: 400px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: -webkit-transform 0.6s;
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        transition: transform 0.6s, -webkit-transform 0.6s;
        cursor: pointer;

        #ccsingle {
          position: absolute;
          right: 15px;
          top: 20px;

          svg {
            width: 100px;
            max-height: 60px;
          }
        }

        svg#cardfront,
        svg#cardback {
          width: 100%;
          -webkit-box-shadow: 1px 5px 6px 0px black;
          box-shadow: 1px 5px 6px 0px black;
          border-radius: 22px;
        }

        .front,
        .back {
          position: absolute;
          width: 100%;
          max-width: 400px;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-font-smoothing: antialiased;
          color: #47525d;
        }

        .back {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }

        &.flipped {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }

        // CHANGEABLE CARD ELEMENTS
        .lightcolor,
        .darkcolor {
          -webkit-transition: fill .5s;
          transition: fill .5s;
        }

        // colors
        .lightblue {
          fill: #03A9F4;
        }

        .lightbluedark {
          fill: #0288D1;
        }

        .red {
          fill: #ef5350;
        }

        .reddark {
          fill: #d32f2f;
        }

        .purple {
          fill: #ab47bc;
        }

        .purpledark {
          fill: #7b1fa2;
        }

        .cyan {
          fill: #26c6da;
        }

        .cyandark {
          fill: #0097a7;
        }

        .green {
          fill: #66bb6a;
        }

        .greendark {
          fill: #388e3c;
        }

        .lime {
          fill: #d4e157;
        }

        .limedark {
          fill: #afb42b;
        }

        .yellow {
          fill: #ffeb3b;
        }

        .yellowdark {
          fill: #f9a825;
        }

        .orange {
          fill: #ff9800;
        }

        .orangedark {
          fill: #ef6c00;
        }

        .grey {
          fill: #bdbdbd;
        }

        .greydark {
          fill: #616161;
        }

        // FRONT OF CARD
        #svgname {
          text-transform: uppercase;
        }

        #cardfront .st2 {
          fill: #FFFFFF;
        }

        #cardfront .st3 {
          font-family: 'Source Code Pro', monospace;
          font-weight: 600;
        }

        #cardfront .st4 {
          font-size: 54.7817px;
        }

        #cardfront .st5 {
          font-family: 'Source Code Pro', monospace;
          font-weight: 400;
        }

        #cardfront .st6 {
          font-size: 33.1112px;
        }

        #cardfront .st7 {
          opacity: 0.6;
          fill: #FFFFFF;
        }

        #cardfront .st8 {
          font-size: 24px;
        }

        #cardfront .st9 {
          font-size: 36.5498px;
        }

        #cardfront .st10 {
          font-family: 'Source Code Pro', monospace;
          font-weight: 300;
        }

        #cardfront .st11 {
          font-size: 16.1716px;
        }

        #cardfront .st12 {
          fill: #4C4C4C;
        }

        // BACK OF CARD/
        #cardback .st0 {
          fill: none;
          stroke: #0F0F0F;
          stroke-miterlimit: 10;
        }

        #cardback .st2 {
          fill: #111111;
        }

        #cardback .st3 {
          fill: #F2F2F2;
        }

        #cardback .st4 {
          fill: #D8D2DB;
        }

        #cardback .st5 {
          fill: #C4C4C4;
        }

        #cardback .st6 {
          font-family: 'Source Code Pro', monospace;
          font-weight: 400;
        }

        #cardback .st7 {
          font-size: 27px;
        }

        #cardback .st8 {
          opacity: 0.6;
        }

        #cardback .st9 {
          fill: #FFFFFF;
        }

        #cardback .st10 {
          font-size: 24px;
        }

        #cardback .st11 {
          fill: #EAEAEA;
        }

        #cardback .st12 {
          font-family: 'Rock Salt', cursive;
        }

        #cardback .st13 {
          font-size: 37.769px;
        }
      }
    }

    .preload * {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
    }

    // 信用卡資訊
    .payment-creditCard-input-container {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: auto auto;
      // grid-template-rows: 90px 90px 90px;
      grid-template-areas: "name name" "number number" "expiration security";
      max-width: 400px;

      .ccicon {
        height: 38px;
        position: absolute;
        right: 6px;
        top: calc(50% - 17px);
        width: 60px;
      }

      .field-container:first-of-type {
        grid-area: name;
      }

      .field-container:nth-of-type(2) {
        grid-area: number;
      }

      .field-container:nth-of-type(3) {
        grid-area: expiration;
      }

      .field-container:nth-of-type(4) {
        grid-area: security;
      }

      .name,
      .cardNumber,
      .cardNumber,
      .securityCode {
        margin-top: 3px;
        padding: 15px;
        font-size: 16px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #dcdcdc;
      }
    }

    // 公告事項說明
    .payment-creditCard-info-container {}
  }

  // 通用
  // 送出按鈕區
  .checkout-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .checkmark-label {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .checkout-btn {
    width: 160px;
  }

  .alert-danger {
    color: red;
  }

  .Precautions-ul {
    padding: 0;
    margin: 0;
  }

  // ATM通用
  .ATM-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  // 超商代碼
  .payment-supermarket-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .payment-supermarket-logo-ul {
      display: flex;
      padding: 0;
      margin: 0;
      gap: 14px;

      li img {
        height: 26px;
      }
    }
  }

  // 交易明細
  .payment-supermarket-details-container {
    padding-top: 28px;

    .payment-supermarket-details-msg {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .payment-supermarket-details-info {
      background: #fff;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-top: 20px;

      .label-column {
        background-color: #f7f7f7;
        font-weight: bold;
        padding: 20px;
        font-size: 1.2em;
      }

      .content-column {
        padding: 20px;
        font-size: 1.2em;
      }

      .qr-image {
        width: 150px;
        height: auto;
      }
    }
  }
}