.watermark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* 設定背景透明度 */
  background: rgb(31, 31, 31, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  padding: 20px;
}

.planSelection-mainContent-container{
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0;
}

#detailsCard {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  justify-content: center;
  text-align: center;

  caption {
    margin: .5em 0 .75em;
  }

  tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  th,
  td {
    padding: .625em;
    text-align: center;
  }

  td{
    background: #fff;
  }
  
  th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

#reservationForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  margin-left: 10px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #11cc00;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #11cc00;
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cancelButton {
  position: absolute;
  right: 650px;
}

.rightButton {
  position: absolute;
  right: 550px;
}

.main-container {
  // min-width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
}

.summary-container {
  width: 450px;
  min-height: 450px;
  margin: auto;
  border-radius: 16px;
  background: var(--gray-04);
  @media screen and (max-width: 768px) {
    width: auto;
  }
}

.bi-x-circle {
  position: absolute;
  right: 30px;
  top: 35px;
  transform: scaleY(-1);
}

.bottom-part {
  position: relative;
}

.word-section {
  text-align: center;
  padding: 22px 0;
}

.plan-section-container{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 30px 30px;
  
  .plan-section {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-radius: 12px;
    align-items: center;
    
    .annual-plan p {
      color: var(--gray-02);
      font-weight: bold;
    }
  }
}


.btn-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 30px;
  button{
    width: 160px;
  }
  a{
    color: var(--gray-01)
  }
}

.submit-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  /* .btn-payment {
    color: #fff;
    transition: 0.3s ease-in;
    transition-property: background;
    box-shadow: 0 18px 14px 0px rgba(0, 0, 0, 0.2);
  }
  
  .btn-submit {
    color: hsl(226, 20%, 71%);
    background-color: #fff;
    transition: 0.3s ease-in;
    transition-property: color;
  } */
}

@media (min-width: 1440px) {
  .main-container {
    background-image: none;
  }
}

@media (max-height: 700px) {
  .main-container {
    padding: 35px 0;
  }
}

@media (max-width: 500px) {
  .main-container {
    padding: 35px 35px;
  }

  .plan-section .annual-plan h2 {
    font-size: 16px;
  }

  .plan-section .annual-plan p {
    font-size: 14px;
  }

  .plan-section .change a {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .main-container {
    padding: 25px 25px;
  }

  .container {
  }

  .word-section p {
    margin: 0 18px;
  }

  .plan-section {
    margin: 0 20px;
  }

  .annual-plan {
    margin-right: 15px;
  }
}

.plan-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 1500px;
  // margin: auto;
  gap: 18px;
  .plan {
    text-align: center;
    border-radius: 8px;
    background: #fff;
    padding: 20px;
    transition: all .2s;
    width: 33.33%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
    }
  
    .plan-price {
      font-weight: bold;
    }
  }
  @media screen and (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .plan{
      width:100%;
      display: flex;
      flex-direction: row;
      max-width: 600px;
      justify-content: space-between;
      .plan-container-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
      }
    }
  }
}

.description {
  padding-bottom: 22px;
  margin: 10px;
  width: 33.33%;
}



.plan-active {
  border: 2px solid var(--gray-01);
  padding: 19px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1) ;

}

.plan-container ul {
  list-style: none;
  padding: 0;
}

.plan-container li {
  padding: 10px;
  min-height: 22px;
}

.plan-container ul :nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

/* button:disabled {
  padding: 5px 30px;
  border: 2px solid rgb(230, 230, 230);
  color: rgb(230, 230, 230);
} */