* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    // padding: 10px 80px;
    z-index: 99;
    background: transparent;
    background-color: rgba(220, 220, 220, 0.5);
    backdrop-filter: blur(10px);
    // padding-bottom: 200px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
        width: 100px;
        height: 50px;
    }

    .searchBar {
        width: 20em;
        font-weight: bold;
        color: #fff;

        .btn,
        .btn2 {
            border: 0;
            width: 30%;
            height: 20%;
            border-radius: 5px;
            background-color: #93FF00;
            color: #000000;
            
            &.btn2 {
                display: none;
            }

            a {
                color: #fff;
                text-decoration: none;
            }

            // a:hover {
            //     color: aqua;
            // }
        }
    }
}

.background-img {
    width: 100%;
    height: 100vh;
    background-image: url(/Assests/img/bgImg.png);
    background-position: center;
    background-size: cover;
    filter: blur(5px);
}

.home {
    position: absolute;
    top: 53%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    background: url(/Assests/img/bgImg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 10px 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 700px;

    h2 {
        font-size: 4.5em;
        text-align: start;
        color: #fff;
        letter-spacing: 10px;
    }

    p {
        margin-top: 20px;
        text-align: start;
        color: #ffffff;
        font-size: 1.5rem;
    }
}
.content {
    padding: 110px;
}

/* 在大于 1000px 的屏幕上的样式 */
@media screen and (min-width: 1000px) {
    .content {
        padding: 110px;
    }
}

/* 在小于 400px 的屏幕上的样式 */
@media screen and (max-width: 900px) {
    .content {
        padding: 80px;
    }
}

.signIn2 {
    width: 100%;
    position: relative;
    padding: 20px 40px;
    background-color: rgba(220, 220, 220, 0.5);
    backdrop-filter: blur(10px);

    h3 {
        font-size: 2.5rem;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }

    .input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        position: relative;

        .all-input {
            width: 100%;
            height: 100%;
            font-style: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid #fff;
            color: #fff;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: 0.5s;
        }

        input:focus ~ label,
        input[data-state="UserName"]:valid ~ label,
        input[data-state="Email"]:valid ~ label,
        input[data-state="Password-sign"]:valid ~ label,
        input[data-state="Password-again-sign"]:valid ~ label,
        input[data-state="Car-id"]:valid ~ label {
            top: -20px;
            left: 0;
            color: #93FF00;
            font-size: 12px;
        }

        .warn-UserName,
        .warn-Email,
        .warn-Email-exists,
        .warn-Password,
        .warn-Password-again,
        .warn-Car-id {
            text-align: end;
            font-size: 12px;
            color: #ff0000;
            display: none;
        }
    }

    .aboutAccount {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #fff;
        margin-bottom: 32px;

        .check {
            display: flex;
        }

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .logIn-btn {
        display: flex;
        justify-content: center;
        height: 20%;

        button {
            width: 100%;
            height: 40px;
            border-radius: 8px;
            background-color: rgb(75, 75, 75);
            border: 0;
            margin-top: 20px;
            transition: 0.3s;

            &:hover {
                background: #93FF00;
                color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 5px #93FF00,
                            0 0 25px #93FF00,
                            0 0 50px #93FF00,
                            0 0 100px #93FF00;

                &::after {
                    width: 90%;
                    height: 40px;
                    background-color: rgb(75, 75, 75);
                }
            }
        }
    }

    .word a {
        text-decoration: none;
        color: #fff;
        font-size: 8px;
        margin-top: 16px;
    }
}
