@media screen and (max-width: 768px) {
  nav {
    background: var(--gray-04);
  }
  .navbar-nav {
    padding: 16px 12px;

    .nav-item{
      padding: 14px 0 14px 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  button.btn-light-solid-m {
    order: 2;
  }
  .navbar-nav{
    gap: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-nav {
    gap: 44px;
    padding-right: 38px;
  }
}

button.navbar-toggler{
  border: none;
}

.nav-item a {
  text-decoration: none;
}

.open-bg-color {
  background-color: var(--gray-01);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}