<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>components-header</title>
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/all.css">

  <!-- 畫面處理用，不需複製 -->
  <style>
    body{
      background: #bdbdbd;
    } 
  </style>
</head>
<body>
  <header id="header">
    <nav class="navbar navbar-expand-md initial-bg-color" aria-label="Fourth navbar">
      <div class="container-md">
        <!-- logo -->
        <a class="navbar-brand" href="/index.html">
          <img src="/Assests/img/Logo-dark.png" alt="" srcset="">
        </a>
        <!-- button -->
        <button class="btn btn-light-solid-m">
          <a href="/Pages/login.html">
            登入 / 註冊
          </a>
        </button>
        <!-- hamburger -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar"
          aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="hamburger" width="28" height="28" viewBox="0 0 28 28" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_2609_18108" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28"
              height="28">
              <rect width="28" height="28" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_2609_18108)">
              <path d="M3.5 21V18.6667H24.5V21H3.5ZM3.5 15.1667V12.8333H24.5V15.1667H3.5ZM3.5 9.33333V7H24.5V9.33333H3.5Z"
                fill="#1E1E1E" />
            </g>
          </svg>
        </button>
  
        <div class="collapse navbar-collapse" id="headerNavbar">
          <ul class="navbar-nav ml-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="menu-l" href="/Pages/ReserveParking.html">預約停車</a>
            </li>
            <li class="nav-item">
              <a class="menu-l" href="/findSpace.html">找停車位</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  

  

  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- script -->
  <script src="/stylesheets/components/buttons/button.js"></script>
  <script src="/stylesheets/components/header/header.js"></script>

</body>
</html>