@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

body {
    /* font-family: "Open Sans", sans-serif; */
    line-height: 1.25;
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility;
}

.head {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    z-index: 99;
    background: transparent;
    background-color: rgba(220, 220, 220, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}
  
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar .logo {
    width: 100px;
    height: 50px;
}
.navbar .searchBar {
    width: 20em;
    font-weight: bold;
    color: #fff;
}

.navbar .searchBar .btn {
  border: 0;
  width: 30%;
  height: 20%;
  border-radius: 5px;
  background-color: #93FF00;
  color: #000000;
}
.navbar .searchBar .btn a{
  color: #fff;
  text-decoration: none;
}
.top {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

.top h1 {
    padding-top: 20px;
}

.watermark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 讓它佔滿整個視窗高度 */
    background: rgba(255, 255, 255, 0.8); /* 設定背景透明度 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    z-index: 1000; 
    padding: 20px;
}

.bottom-part hr {
    border: 1px solid greenyellow;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 100 auto;
    width: 100%;
    table-layout: fixed;
    justify-content: center;
    text-align: center;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

#reservationForm {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

label {
    margin-left: 10px;
}

.form-input {
    margin-left: 10px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
.searchTerm {
    width: 100%;
    border: 3px solid #11cc00;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
.searchTerm:focus{
    color: #11cc00;
  }
  
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #11cc00;
    background: #11cc00;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
  }

h2 {
    position: absolute;
    left: 0;
    top: -30px; 
    margin: 0;
  }

.notice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }

/* .content {
    position: absolute;
    left: 350px;
    width: 100%;
  } */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
  }

.cancelButton {
    position: absolute;
    right: 650px;
  }

.rightButton {
    position: absolute;
    right: 550px;
  }

  
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');


.main-container{
    min-width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
}

.summary-container{
    width: 450px;
    min-height: 550px;
    margin: auto;
    border-radius: 16px;
}

.top-part{
    height: 221px;
    background: url('../images/illustration-hero.svg') no-repeat center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.bi-x-circle {
    position: absolute;
    right: 780px;
    transform: scaleY(-1);
    margin-top: 30px;
}

.bottom-part{
    background-color: #fff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #E0E8FE;
}

.word-section{
    text-align: center;
    padding-top: 22px;
}

.word-section h1{
    font-size: 28px;
    padding: 12px;
    color:  hsl(223, 47%, 23%);
    font-weight: 700;
}

.word-section p{
    font-size: 17px;
    letter-spacing: 0.4px;
    line-height: 23px;
    font-weight: 600;
    color: hsl(226, 20%, 71%);
    padding: 12px;
    margin-bottom: 15px;
}

hr {
  border-color: #11cc00;
}

.plan-section{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-radius: 12px;
    align-items: center;
    margin: 0 40px;
    margin-bottom: 32px;
}

.plan-section .img img{
    margin-right: 15px;
}

.plan-section .annual-plan h2{
    color:  hsl(223, 47%, 23%);
    font-size: 20px;
}

.plan-section .annual-plan p{
    color: hsl(226, 20%, 71%);
    font-weight: 600;
}

.plan-section .change{
    margin: auto;
    margin-right: 0px;   
}

.plan-section .change a{
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    font-weight: 600;
    transition: 0.3s ease-out;
    transition-property: color, text;
}

.plan-section .change a:hover{
    color: #766CF1;
    text-decoration: none;
}

.btn-section{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding-bottom: 32px;
}

.btn{
    border: none;
    width:auto;
    margin: 0 40px;
    font-size: 14px;
    padding: 14px 0;
    border-radius: 7px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.btn-payment{
    background-color: hsl(245, 75%, 52%);
    margin-bottom: 25px;
    color: #fff;
    transition: 0.3s ease-in;
    transition-property: background;
    box-shadow: 0 18px 14px 0px rgba(0, 0, 0, 0.2);
}

.btn-payment:hover{
    background-color: #766CF1;
}

.btn-submit{
    color: hsl(226, 20%, 71%);
    background-color: #fff;
    transition: 0.3s ease-in;
    transition-property: color;
}

.btn-submit:hover{
    color: hsl(223, 47%, 23%);
}

.btn-secondary {
    position: absolute;
    right: 650px;
}

.btn-primary {
    position: absolute;
    right: 550px;
}

@media (min-width: 1440px) {
    .main-container{
        background-image: none;
    }
}

@media (max-height: 700px) {
    .main-container{
        padding: 35px 0;
    }
}

@media (max-width: 500px) {
    .main-container{
        padding: 35px 35px;
    }

    .plan-section .annual-plan h2{
        font-size: 16px;
    }

    .plan-section .annual-plan p{
        font-size: 14px;
    }

    .plan-section .change a{
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .main-container{
        background-image: url('../images/pattern-background-mobile.svg');
        padding: 25px 25px;
    }

    .container{
        max-width: 350px !important;
    }

    br{
        display: none;
    }

    .word-section p{
        margin: 0 18px;
    }

    .plan-section{
        margin: 0 20px;
    }
    
    .annual-plan{
        margin-right: 15px;
    }
} 

body {
    font-family: "Roboto", Roboto;
    margin: 0;
    padding: 0;
  }
  .plan-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 1500px;
    margin: auto;
  }

  .description {
    padding-bottom: 22px;
    margin: 10px;
    width: 33.33%;
  }

  .plan {
    text-align: center;
    border: 1px solid rgba(200, 200, 200);
    padding: 20px;
    transition: all .2s;
    width: 33.33%;
    height: 100%;
    margin: 10px;
    max-width: 500px;
  }

  .plan:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
  }

  .plan-active {
    border: 2px solid #0C505D;
    padding: 19px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0) !important;

  }

  .plan-container ul {
    list-style: none;
    padding: 0;
  }

  .plan-container li {
    padding: 10px;
    min-height: 22px;
  }

  .plan-container ul :nth-child(even) {
    background-color: rgb(240, 240, 240);
  }


  button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #0C505D;
    color: #0C505D;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 30px;
    transition: all .2s;

  }

  button:hover {
    padding: 3px 28px;
    border-width: 4px;
  }

  button:disabled {
    padding: 5px 30px;
    border: 2px solid rgb(230, 230, 230);
    color: rgb(230, 230, 230);
  }

